<!doctype html>
<html lang="en">

<head>
  <% include ./partials/header %>
</head>

<body>
  <div class="container">
    <div class="row mt-5">
      <form action="/scraped" method="POST">
        <div class="form-row align-items-center">
          <div class="col-auto">
            <label class="sr-only" for="url">Url</label>
            <input type="text" class="form-control mb-2" id="url" name="url" placeholder="Url">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary  mb-2"> Go </button>
          </div>
        </div>
      </form>

    </div>
  </div>
  <footer>
    <% include ./partials/footer %>
  </footer>
</body>

</html>