<!doctype html>
<html lang="en">
  <head>
    <% include ./partials/header %>
  </head>
  <body>
  <div class="container">
      <h2> TABLE HERE </h2>
      <h2> <%=url%> </h2>
  </div>
  <footer>
    <% include ./partials/footer %>
  </footer>
  </body>
</html>